Explore dataset `World-Bank-Quiz.csv` dan jawab pertanyaan-pertanyaan yang diberikan.

# Memanggil library di Python

In [1]:
import pandas as pd

# Membaca file CSV sebagai data frame

In [2]:
world = pd.read_csv('World-Bank-Quiz.csv')

# Memahami data frame

In [3]:
world.shape

(117306, 67)

`world` terdiri dari 117306 baris dan 67 kolom.

Melihat preview `world`.

In [4]:
world.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Africa Eastern and Southern,AFE,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,140.120535,140.594564,141.128109,141.32344,141.50816,141.668896,...,103.391461,101.541782,99.719799,97.916601,96.146492,94.695223,93.231944,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Adults (ages 15+) and children (0-14 years) li...,SH.HIV.TOTL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Africa Eastern and Southern,AFE,Adults (ages 15+) and children (ages 0-14) new...,SH.HIV.INCD.TL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa Eastern and Southern,AFE,Adults (ages 15+) living with HIV,SH.DYN.AIDS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Africa Eastern and Southern,AFE,Adults (ages 15-49) newly infected with HIV,SH.HIV.INCD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Menampilkan informasi dari `world`.

In [5]:
world.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117306 entries, 0 to 117305
Data columns (total 67 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Country Name    117306 non-null  object
 1   Country Code    117306 non-null  object
 2   Indicator Name  117306 non-null  object
 3   Indicator Code  117306 non-null  object
 4   1960            37753 non-null   float64
 5   1961            38305 non-null   float64
 6   1962            38880 non-null   float64
 7   1963            38440 non-null   float64
 8   1964            38490 non-null   float64
 9   1965            38651 non-null   float64
 10  1966            38595 non-null   float64
 11  1967            39119 non-null   float64
 12  1968            38709 non-null   float64
 13  1969            38792 non-null   float64
 14  1970            40158 non-null   float64
 15  1971            40895 non-null   float64
 16  1972            41437 non-null   float64
 17  1973            40988 non-null   float64
 18  1974            41028 non-null   float64
 19  1975            41997 non-null   float64
 20  1976            42075 non-null   float64
 21  1977            42567 non-null   float64
 22  1978            42141 non-null   float64
 23  1979            42228 non-null   float64
 24  1980            43058 non-null   float64
 25  1981            43343 non-null   float64
 26  1982            43631 non-null   float64
 27  1983            43248 non-null   float64
 28  1984            43473 non-null   float64
 29  1985            43742 non-null   float64
 30  1986            44128 non-null   float64
 31  1987            44593 non-null   float64
 32  1988            43945 non-null   float64
 33  1989            44197 non-null   float64
 34  1990            52295 non-null   float64
 35  1991            52730 non-null   float64
 36  1992            53407 non-null   float64
 37  1993            52845 non-null   float64
 38  1994            52801 non-null   float64
 39  1995            53093 non-null   float64
 40  1996            53289 non-null   float64
 41  1997            53459 non-null   float64
 42  1998            53237 non-null   float64
 43  1999            54317 non-null   float64
 44  2000            71764 non-null   float64
 45  2001            68718 non-null   float64
 46  2002            69457 non-null   float64
 47  2003            69261 non-null   float64
 48  2004            69774 non-null   float64
 49  2005            71387 non-null   float64
 50  2006            70778 non-null   float64
 51  2007            71404 non-null   float64
 52  2008            70457 non-null   float64
 53  2009            70973 non-null   float64
 54  2010            75273 non-null   float64
 55  2011            71916 non-null   float64
 56  2012            72349 non-null   float64
 57  2013            71108 non-null   float64
 58  2014            72429 non-null   float64
 59  2015            73050 non-null   float64
 60  2016            72903 non-null   float64
 61  2017            71956 non-null   float64
 62  2018            71383 non-null   float64
 63  2019            67066 non-null   float64
 64  2020            50967 non-null   float64
 65  2021            1053 non-null    float64
 66  Unnamed: 66     0 non-null       float64
dtypes: float64(63), object(4)
memory usage: 60.0+ MB

Meninjau duplicate data dari `world`.

In [6]:
world.duplicated().sum()

0

Meninjau null values dari `world`.

In [7]:
world.isna().sum()

Country Name           0
Country Code           0
Indicator Name         0
Indicator Code         0
1960               79553
                   ...
2018               45923
2019               50240
2020               66339
2021              116253
Unnamed: 66       117306
Length: 67, dtype: int64

In [8]:
world.isna().sum().head(35)

Country Name          0
Country Code          0
Indicator Name        0
Indicator Code        0
1960              79553
1961              79001
1962              78426
1963              78866
1964              78816
1965              78655
1966              78711
1967              78187
1968              78597
1969              78514
1970              77148
1971              76411
1972              75869
1973              76318
1974              76278
1975              75309
1976              75231
1977              74739
1978              75165
1979              75078
1980              74248
1981              73963
1982              73675
1983              74058
1984              73833
1985              73564
1986              73178
1987              72713
1988              73361
1989              73109
1990              65011
dtype: int64

In [9]:
world.isna().sum().tail(35)

1988            73361
1989            73109
1990            65011
1991            64576
1992            63899
1993            64461
1994            64505
1995            64213
1996            64017
1997            63847
1998            64069
1999            62989
2000            45542
2001            48588
2002            47849
2003            48045
2004            47532
2005            45919
2006            46528
2007            45902
2008            46849
2009            46333
2010            42033
2011            45390
2012            44957
2013            46198
2014            44877
2015            44256
2016            44403
2017            45350
2018            45923
2019            50240
2020            66339
2021           116253
Unnamed: 66    117306
dtype: int64

Melihat value pada kolom `Indicator Name`.

In [10]:
world['Indicator Name'].unique()

array(['Adolescent fertility rate (births per 1,000 women ages 15-19)',
       'Adults (ages 15+) and children (0-14 years) living with HIV',
       'Adults (ages 15+) and children (ages 0-14) newly infected with HIV',
       'Adults (ages 15+) living with HIV',
       'Adults (ages 15-49) newly infected with HIV',
       'Age at first marriage, female', 'Age at first marriage, male',
       'Age dependency ratio (% of working-age population)',
       'Age dependency ratio, old', 'Age dependency ratio, young',
       'Age population, age 00, female, interpolated',
       'Age population, age 00, male, interpolated',
       'Age population, age 01, female, interpolated',
       'Age population, age 01, male, interpolated',
       'Age population, age 02, female, interpolated',
       'Age population, age 02, male, interpolated',
       'Age population, age 03, female, interpolated',
       'Age population, age 03, male, interpolated',
       'Age population, age 04, female, interpolated',
       'Age population, age 04, male, interpolated',
       'Age population, age 05, female, interpolated',
       'Age population, age 05, male, interpolated',
       'Age population, age 06, female, interpolated',
       'Age population, age 06, male, interpolated',
       'Age population, age 07, female, interpolated',
       'Age population, age 07, male, interpolated',
       'Age population, age 08, female, interpolated',
       'Age population, age 08, male, interpolated',
       'Age population, age 09, female, interpolated',
       'Age population, age 09, male, interpolated',
       'Age population, age 10, female, interpolated',
       'Age population, age 10, male, interpolated',
       'Age population, age 11, female, interpolated',
       'Age population, age 11, male, interpolated',
       'Age population, age 12, female, interpolated',
       'Age population, age 12, male, interpolated',
       'Age population, age 13, female, interpolated',
       'Age population, age 13, male, interpolated',
       'Age population, age 14, female, interpolated',
       'Age population, age 14, male, interpolated',
       'Age population, age 15, female, interpolated',
       'Age population, age 15, male, interpolated',
       'Age population, age 16, female, interpolated',
       'Age population, age 16, male, interpolated',
       'Age population, age 17, female, interpolated',
       'Age population, age 17, male, interpolated',
       'Age population, age 18, female, interpolated',
       'Age population, age 18, male, interpolated',
       'Age population, age 19, female, interpolated',
       'Age population, age 19, male, interpolated',
       'Age population, age 20, female, interpolated',
       'Age population, age 20, male, interpolated',
       'Age population, age 21, female, interpolated',
       'Age population, age 21, male, interpolated',
       'Age population, age 22, female, interpolated',
       'Age population, age 22, male, interpolated',
       'Age population, age 23, female, interpolated',
       'Age population, age 23, male, interpolated',
       'Age population, age 24, female, interpolated',
       'Age population, age 24, male, interpolated',
       'Age population, age 25, female, interpolated',
       'Age population, age 25, male, interpolated',
       'AIDS estimated deaths (UNAIDS estimates)',
       'Antiretroviral therapy coverage (% of people living with HIV)',
       'Antiretroviral therapy coverage for PMTCT (% of pregnant women living with HIV)',
       'ARI treatment (% of children under 5 taken to a health provider)',
       'Birth rate, crude (per 1,000 people)',
       'Births attended by skilled health staff (% of total)',
       'Capital health expenditure (% of GDP)',
       'Cause of death, by communicable diseases and maternal, prenatal and nutrition conditions (% of total)',
       'Cause of death, by injury (% of total)',
       'Cause of death, by non-communicable diseases (% of total)',
       'Children (0-14) living with HIV',
       'Children (ages 0-14) newly infected with HIV',
       'Children orphaned by HIV/AIDS',
       'Children with fever receiving antimalarial drugs (% of children under age 5 with fever)',
       'Community health workers (per 1,000 people)',
       'Completeness of birth registration (%)',
       'Completeness of birth registration, female (%)',
       'Completeness of birth registration, male (%)',
       'Completeness of birth registration, rural (%)',
       'Completeness of birth registration, urban (%)',
       'Completeness of death registration with cause-of-death information (%)',
       'Comprehensive correct knowledge of HIV/AIDS, ages 15-24, female (2 prevent ways and reject 3 misconceptions)',
       'Comprehensive correct knowledge of HIV/AIDS, ages 15-24, male (2 prevent ways and reject 3 misconceptions)',
       'Comprehensive correct knowledge of HIV/AIDS, ages 15-49, female (2 prevent ways and reject 3 misconceptions)',
       'Comprehensive correct knowledge of HIV/AIDS, ages 15-49, male (2 prevent ways and reject 3 misconceptions)',
       'Condom use at last high-risk sex, adult female (% ages 15-49)',
       'Condom use at last high-risk sex, adult male (% ages 15-49)',
       'Condom use, population ages 15-24, female (% of females ages 15-24)',
       'Condom use, population ages 15-24, male (% of males ages 15-24)',
       'Consumption of iodized salt (% of households)',
       'Contraceptive prevalence, any method (% of married women ages 15-49)',
       'Contraceptive prevalence, any method (% of sexually active unmarried women ages 15-49)',
       'Contraceptive prevalence, any modern method (% of married women ages 15-49)',
       'Contraceptive prevalence, any modern method (% of sexually active unmarried women ages 15-49)',
       'Current health expenditure (% of GDP)',
       'Current health expenditure per capita (current US$)',
       'Current health expenditure per capita, PPP (current international $)',
       'Death rate, crude (per 1,000 people)',
       'Demand for family planning satisfied by any methods (% of married women with demand for family planning)',
       'Demand for family planning satisfied by modern methods (% of married women with demand for family planning)',
       'Diabetes prevalence (% of population ages 20 to 79)',
       'Diarrhea treatment (% of children under 5 receiving oral rehydration and continued feeding)',
       'Diarrhea treatment (% of children under 5 who received ORS packet)',
       'Domestic general government health expenditure (% of current health expenditure)',
       'Domestic general government health expenditure (% of GDP)',
       'Domestic general government health expenditure (% of general government expenditure)',
       'Domestic general government health expenditure per capita (current US$)',
       'Domestic general government health expenditure per capita, PPP (current international $)',
       'Domestic private health expenditure (% of current health expenditure)',
       'Domestic private health expenditure per capita (current US$)',
       'Domestic private health expenditure per capita, PPP  (current international $)',
       'Exclusive breastfeeding (% of children under 6 months)',
       'External health expenditure (% of current health expenditure)',
       'External health expenditure channeled through government (% of external health expenditure)',
       'External health expenditure per capita (current US$)',
       'External health expenditure per capita, PPP (current international $)',
       'Female headed households (% of households with a female head)',
       'Fertility rate, total (births per woman)',
       'GNI per capita, Atlas method (current US$)',
       'Hospital beds (per 1,000 people)',
       'Human capital index (HCI) (scale 0-1)',
       'Human capital index (HCI), female (scale 0-1)',
       'Human capital index (HCI), female, lower bound (scale 0-1)',
       'Human capital index (HCI), female, upper bound (scale 0-1)',
       'Human capital index (HCI), lower bound (scale 0-1)',
       'Human capital index (HCI), male (scale 0-1)',
       'Human capital index (HCI), male, lower bound (scale 0-1)',
       'Human capital index (HCI), male, upper bound (scale 0-1)',
       'Human capital index (HCI), upper bound (scale 0-1)',
       'Immunization, BCG (% of one-year-old children)',
       'Immunization, DPT (% of children ages 12-23 months)',
       'Immunization, HepB3 (% of one-year-old children)',
       'Immunization, Hib3 (% of children ages 12-23 months)',
       'Immunization, measles (% of children ages 12-23 months)',
       'Immunization, measles second dose (% of children by the nationally recommended age)',
       'Immunization, Pol3 (% of one-year-old children)',
       'Incidence of HIV, ages 15-24 (per 1,000 uninfected population ages 15-24)',
       'Incidence of HIV, ages 15-49 (per 1,000 uninfected population ages 15-49)',
       'Incidence of HIV, ages 50+ (per 1,000 uninfected population ages 50+)',
       'Incidence of HIV, all (per 1,000 uninfected population)',
       'Incidence of malaria (per 1,000 population at risk)',
       'Incidence of tuberculosis (per 100,000 people)',
       'Infant and young child feeding practices, all 3 IYCF (% children ages 6-23 months)',
       'Intermittent preventive treatment (IPT) of malaria in pregnancy (% of pregnant women)',
       'Labor force, female (% of total labor force)',
       'Labor force, total', 'Life expectancy at birth, female (years)',
       'Life expectancy at birth, male (years)',
       'Life expectancy at birth, total (years)',
       'Lifetime risk of maternal death (%)',
       'Lifetime risk of maternal death (1 in: rate varies by country)',
       'Literacy rate, adult female (% of females ages 15 and above)',
       'Literacy rate, adult male (% of males ages 15 and above)',
       'Literacy rate, adult total (% of people ages 15 and above)',
       'Literacy rate, youth male (% of males ages 15-24)',
       'Literacy rate, youth total (% of people ages 15-24)',
       'Low-birthweight babies (% of births)', 'Malaria cases reported',
       'Maternal leave benefits (% of wages paid in covered period)',
       'Maternal mortality ratio (modeled estimate, per 100,000 live births)',
       'Maternal mortality ratio (national estimate, per 100,000 live births)',
       'Mortality caused by road traffic injury (per 100,000 people)',
       'Mortality caused by road traffic injury, female (per 100,000 female population)',
       'Mortality caused by road traffic injury, male (per 100,000 male population)',
       'Mortality from CVD, cancer, diabetes or CRD between exact ages 30 and 70 (%)',
       'Mortality from CVD, cancer, diabetes or CRD between exact ages 30 and 70, female (%)',
       'Mortality from CVD, cancer, diabetes or CRD between exact ages 30 and 70, male (%)',
       'Mortality rate attributed to household and ambient air pollution (per 100,000 population)',
       'Mortality rate attributed to household and ambient air pollution, age-standardized, female (per 100,000 female population)',
       'Mortality rate attributed to household and ambient air pollution, age-standardized, male (per 100,000 male population)',
       'Mortality rate attributed to unintentional poisoning (per 100,000 population)',
       'Mortality rate attributed to unintentional poisoning, female (per 100,000 female population)',
       'Mortality rate attributed to unintentional poisoning, male (per 100,000 male population)',
       'Mortality rate attributed to unsafe water, unsafe sanitation and lack of hygiene (per 100,000 population)',
       'Mortality rate attributed to unsafe water, unsafe sanitation and lack of hygiene, female (per 100,000 female population)',
       'Mortality rate attributed to unsafe water, unsafe sanitation and lack of hygiene, male (per 100,000 male population)',
       'Mortality rate, adult, female (per 1,000 female adults)',
       'Mortality rate, adult, male (per 1,000 male adults)',
       'Mortality rate, infant (per 1,000 live births)',
       'Mortality rate, infant, female (per 1,000 live births)',
       'Mortality rate, infant, male (per 1,000 live births)',
       'Mortality rate, neonatal (per 1,000 live births)',
       'Mortality rate, under-5 (per 1,000)',
       'Mortality rate, under-5, female (per 1,000)',
       'Mortality rate, under-5, male (per 1,000)', 'Net migration',
       'Newborns protected against tetanus (%)',
       'Number of deaths ages 10-14 years',
       'Number of deaths ages 10-19 years',
       'Number of deaths ages 15-19 years',
       'Number of deaths ages 20-24 years',
       'Number of deaths ages 5-9 years', 'Number of infant deaths',
       'Number of infant deaths, female', 'Number of infant deaths, male',
       'Number of maternal deaths', 'Number of neonatal deaths',
       'Number of people pushed below the $1.90 ($ 2011 PPP) poverty line by out-of-pocket health care expenditure',
       'Number of people pushed below the $3.20 ($ 2011 PPP) poverty line by out-of-pocket health care expenditure',
       'Number of people pushed below the 60% median consumption poverty line by out-of-pocket health care expenditure',
       'Number of people pushed further below the $1.90 ($ 2011 PPP) poverty line by out-of-pocket health care expenditure',
       'Number of people pushed further below the $3.20 ($ 2011 PPP) poverty line by out-of-pocket health care expenditure',
       'Number of people pushed further below the 60% median consumption poverty line by out-of-pocket health care expenditure',
       'Number of people spending more than 10% of household consumption or income on out-of-pocket health care expenditure',
       'Number of people spending more than 25% of household consumption or income on out-of-pocket health care expenditure',
       'Number of people who are undernourished', 'Number of stillbirths',
       'Number of surgical procedures (per 100,000 population)',
       'Number of under-five deaths',
       'Number of under-five deaths, female',
       'Number of under-five deaths, male',
       'Nurses and midwives (per 1,000 people)',
       'Out-of-pocket expenditure (% of current health expenditure)',
       'Out-of-pocket expenditure per capita (current US$)',
       'Out-of-pocket expenditure per capita, PPP (current international $)',
       'People practicing open defecation (% of population)',
       'People practicing open defecation, rural (% of rural population)',
       'People practicing open defecation, urban (% of urban population)',
       'People using at least basic drinking water services (% of population)',
       'People using at least basic drinking water services, rural (% of rural population)',
       'People using at least basic drinking water services, urban (% of urban population)',
       'People using at least basic sanitation services (% of population)',
       'People using at least basic sanitation services, rural (% of rural population)',
       'People using at least basic sanitation services, urban  (% of urban population)',
       'People using safely managed drinking water services (% of population)',
       'People using safely managed drinking water services, rural (% of rural population)',
       'People using safely managed drinking water services, urban (% of urban population)',
       'People using safely managed sanitation services (% of population)',
       'People using safely managed sanitation services, rural (% of rural population)',
       'People using safely managed sanitation services, urban  (% of urban population)',
       'People with basic handwashing facilities including soap and water (% of population)',
       'People with basic handwashing facilities including soap and water, rural (% of rural population)',
       'People with basic handwashing facilities including soap and water, urban (% of urban population)',
       'Physicians (per 1,000 people)', 'Population ages 00-04, female',
       'Population ages 00-04, female (% of female population)',
       'Population ages 00-04, male',
       'Population ages 00-04, male (% of male population)',
       'Population ages 00-14, total',
       'Population ages 0-14 (% of total population)',
       'Population ages 0-14, female',
       'Population ages 0-14, female (% of female population)',
       'Population ages 0-14, male',
       'Population ages 0-14, male (% of male population)',
       'Population ages 05-09, female',
       'Population ages 05-09, female (% of female population)',
       'Population ages 05-09, male',
       'Population ages 05-09, male (% of male population)',
       'Population ages 10-14, female',
       'Population ages 10-14, female (% of female population)',
       'Population ages 10-14, male',
       'Population ages 10-14, male (% of male population)',
       'Population ages 15-19, female',
       'Population ages 15-19, female (% of female population)',
       'Population ages 15-19, male',
       'Population ages 15-19, male (% of male population)',
       'Population ages 15-64 (% of total population)',
       'Population ages 15-64, female',
       'Population ages 15-64, female (% of female population)',
       'Population ages 15-64, male',
       'Population ages 15-64, male (% of male population)',
       'Population ages 15-64, total', 'Population ages 20-24, female',
       'Population ages 20-24, female (% of female population)',
       'Population ages 20-24, male',
       'Population ages 20-24, male (% of male population)',
       'Population ages 25-29, female',
       'Population ages 25-29, female (% of female population)',
       'Population ages 25-29, male',
       'Population ages 25-29, male (% of male population)',
       'Population ages 30-34, female',
       'Population ages 30-34, female (% of female population)',
       'Population ages 30-34, male',
       'Population ages 30-34, male (% of male population)',
       'Population ages 35-39, female',
       'Population ages 35-39, female (% of female population)',
       'Population ages 35-39, male',
       'Population ages 35-39, male (% of male population)',
       'Population ages 40-44, female',
       'Population ages 40-44, female (% of female population)',
       'Population ages 40-44, male',
       'Population ages 40-44, male (% of male population)',
       'Population ages 45-49, female',
       'Population ages 45-49, female (% of female population)',
       'Population ages 45-49, male',
       'Population ages 45-49, male (% of male population)',
       'Population ages 50-54, female',
       'Population ages 50-54, female (% of female population)',
       'Population ages 50-54, male',
       'Population ages 50-54, male (% of male population)',
       'Population ages 55-59, female',
       'Population ages 55-59, female (% of female population)',
       'Population ages 55-59, male',
       'Population ages 55-59, male (% of male population)',
       'Population ages 60-64, female',
       'Population ages 60-64, female (% of female population)',
       'Population ages 60-64, male',
       'Population ages 60-64, male (% of male population)',
       'Population ages 65 and above (% of total population)',
       'Population ages 65 and above, female',
       'Population ages 65 and above, female (% of female population)',
       'Population ages 65 and above, male',
       'Population ages 65 and above, male (% of male population)',
       'Population ages 65 and above, total',
       'Population ages 65-69, female',
       'Population ages 65-69, female (% of female population)',
       'Population ages 65-69, male',
       'Population ages 65-69, male (% of male population)',
       'Population ages 70-74, female',
       'Population ages 70-74, female (% of female population)',
       'Population ages 70-74, male',

# Menjawab pertanyaan-pertanyaan yang diberikan

### 1. Which country has the lowest death caused by nutrition in 2019?

Meninjau `Indicator Name` sesuai keyword dari pertanyaan.

In [11]:
print(world[world['Indicator Name'].str.contains('nutrition', case = False)]['Indicator Name'].unique())

['Cause of death, by communicable diseases and maternal, prenatal and nutrition conditions (% of total)']

In [12]:
(world[world['Indicator Name'].str.contains('nutrition')]
 .loc[:, ['Country Name', 'Indicator Name', '2019']].sort_values('2019').head(3))

,Country Name,Indicator Name,2019
85623,North Macedonia,"Cause of death, by communicable diseases and m...",1.283611
79890,Montenegro,"Cause of death, by communicable diseases and m...",1.413876
51225,Finland,"Cause of death, by communicable diseases and m...",1.424167

<b>Answer: North Macedonia</b>

### 2. Which country has the highest rate of diabetes prevalence in 2021?

Meninjau `Indicator Name` sesuai keyword dari pertanyaan.

In [13]:
print(world[world['Indicator Name'].str.contains('diabetes', case = False)]['Indicator Name'].unique())

['Diabetes prevalence (% of population ages 20 to 79)'
 'Mortality from CVD, cancer, diabetes or CRD between exact ages 30 and 70 (%)'
 'Mortality from CVD, cancer, diabetes or CRD between exact ages 30 and 70, female (%)'
 'Mortality from CVD, cancer, diabetes or CRD between exact ages 30 and 70, male (%)']

In [14]:
(world[world['Indicator Name'].str.contains('Diabetes prevalence')]
 .loc[:, ['Country Name', 'Indicator Name', '2021']].sort_values('2021', ascending = False).head(3))

,Country Name,Indicator Name,2021
87420,Pakistan,Diabetes prevalence (% of population ages 20 t...,30.8
52140,French Polynesia,Diabetes prevalence (% of population ages 20 t...,25.2
68457,Kuwait,Diabetes prevalence (% of population ages 20 t...,24.9

<b>Answer: Pakistan</b>

### 3. How much is the working age population of Mali in 2020?

Meninjau `Indicator Name` sesuai keyword dari pertanyaan.

In [15]:
print(world[world['Indicator Name'].str.contains('working', case = False)]['Indicator Name'].unique())

['Age dependency ratio (% of working-age population)']

In [16]:
(world[world['Indicator Name'].str.contains('working')]
 .loc[world['Country Name'] == 'Mali', ['Country Name', 'Indicator Name', '2020']])

,Country Name,Indicator Name,2020
75418,Mali,Age dependency ratio (% of working-age populat...,97.95885

<b>Answer: 97.95885%</b>

### 4. How many Indonesian adults (age 15+) are living with HIV in 2020?

Meninjau `Indicator Name` sesuai keyword dari pertanyaan.

In [17]:
print(world[world['Indicator Name'].str.contains('hiv', case = False)]['Indicator Name'].unique())

['Adults (ages 15+) and children (0-14 years) living with HIV'
 'Adults (ages 15+) and children (ages 0-14) newly infected with HIV'
 'Adults (ages 15+) living with HIV'
 'Adults (ages 15-49) newly infected with HIV'
 'Antiretroviral therapy coverage (% of people living with HIV)'
 'Antiretroviral therapy coverage for PMTCT (% of pregnant women living with HIV)'
 'Children (0-14) living with HIV'
 'Children (ages 0-14) newly infected with HIV'
 'Children orphaned by HIV/AIDS'
 'Comprehensive correct knowledge of HIV/AIDS, ages 15-24, female (2 prevent ways and reject 3 misconceptions)'
 'Comprehensive correct knowledge of HIV/AIDS, ages 15-24, male (2 prevent ways and reject 3 misconceptions)'
 'Comprehensive correct knowledge of HIV/AIDS, ages 15-49, female (2 prevent ways and reject 3 misconceptions)'
 'Comprehensive correct knowledge of HIV/AIDS, ages 15-49, male (2 prevent ways and reject 3 misconceptions)'
 'Incidence of HIV, ages 15-24 (per 1,000 uninfected population ages 15-24)'
 'Incidence of HIV, ages 15-49 (per 1,000 uninfected population ages 15-49)'
 'Incidence of HIV, ages 50+ (per 1,000 uninfected population ages 50+)'
 'Incidence of HIV, all (per 1,000 uninfected population)'
 'Prevalence of HIV, female (% ages 15-24)'
 'Prevalence of HIV, male (% ages 15-24)'
 'Prevalence of HIV, total (% of population ages 15-49)'
 "Women's share of population ages 15+ living with HIV (%)"
 'Young people (ages 15-24) newly infected with HIV']

In [18]:
(world.loc[(world['Country Name'] == 'Indonesia') &
           (world['Indicator Name'] == 'Adults (ages 15+) living with HIV'),
           ['Country Name', 'Indicator Name', '2020']])

      Country Name                     Indicator Name      2020
61302    Indonesia  Adults (ages 15+) living with HIV  520000.0

<b>Answer: 520000</b>

### 5. Which country has the lowest rate of literacy in 2020?

Meninjau `Indicator Name` sesuai keyword dari pertanyaan.

In [19]:
print(world[world['Indicator Name'].str.contains('literacy', case = False)]['Indicator Name'].unique())

['Literacy rate, adult female (% of females ages 15 and above)'
 'Literacy rate, adult male (% of males ages 15 and above)'
 'Literacy rate, adult total (% of people ages 15 and above)'
 'Literacy rate, youth male (% of males ages 15-24)'
 'Literacy rate, youth total (% of people ages 15-24)']

In [20]:
(world[world['Indicator Name'].str.contains('Literacy rate, adult total')]
 .loc[:, ['Country Name', 'Indicator Name', '2020']].sort_values('2020').head(3))

,Country Name,Indicator Name,2020
75566,Mali,"Literacy rate, adult total (% of people ages 1...",30.761410
12503,Low income,"Literacy rate, adult total (% of people ages 1...",61.368900
6770,Heavily indebted poor countries (HIPC),"Literacy rate, adult total (% of people ages 1...",63.050411

<b>Answer: Mali</b>

### 6. Which country has the highest total fertility rate in 2019?

Meninjau `Indicator Name` sesuai keyword dari pertanyaan.

In [21]:
print(world[world['Indicator Name'].str.contains('fertility', case = False)]['Indicator Name'].unique())

['Adolescent fertility rate (births per 1,000 women ages 15-19)'
 'Fertility rate, total (births per woman)'
 'Wanted fertility rate (births per woman)']

In [22]:
(world[world['Indicator Name'].str.contains('Fertility rate, total')]
 .loc[:, ['Country Name', 'Indicator Name', '2019']].sort_values('2019', ascending = False).head(3))

           Country Name                            Indicator Name   2019
84791             Niger  Fertility rate, total (births per woman)  6.824
99344           Somalia  Fertility rate, total (births per woman)  5.978
41132  Congo, Dem. Rep.  Fertility rate, total (births per woman)  5.819

<b>Answer: Niger</b>

### 7. Which country has the lowest rate of diabetes prevalence in 2021?

Meninjau `Indicator Name` sesuai keyword dari pertanyaan.

In [23]:
print(world[world['Indicator Name'].str.contains('diabetes', case = False)]['Indicator Name'].unique())

['Diabetes prevalence (% of population ages 20 to 79)'
 'Mortality from CVD, cancer, diabetes or CRD between exact ages 30 and 70 (%)'
 'Mortality from CVD, cancer, diabetes or CRD between exact ages 30 and 70, female (%)'
 'Mortality from CVD, cancer, diabetes or CRD between exact ages 30 and 70, male (%)']

In [24]:
(world[world['Indicator Name'].str.contains('Diabetes prevalence')]
 .loc[:, ['Country Name', 'Indicator Name', '2021']].sort_values('2021').head(3))

       Country Name                                     Indicator Name  2021
30531         Benin  Diabetes prevalence (% of population ages 20 t...   1.1
53022   Gambia, The  Diabetes prevalence (% of population ages 20 t...   1.9
116967     Zimbabwe  Diabetes prevalence (% of population ages 20 t...   2.1

<b>Answer: Benin</b>

### 8. Which country has the lowest prevalence of overweight adults in 2016?

Meninjau `Indicator Name` sesuai keyword dari pertanyaan.

In [25]:
print(world[world['Indicator Name'].str.contains('overweight', case = False)]['Indicator Name'].unique())

['Prevalence of overweight (% of adults)'
 'Prevalence of overweight (% of children under 5)'
 'Prevalence of overweight (modeled estimate, % of children under 5)'
 'Prevalence of overweight, female (% of children under 5)'
 'Prevalence of overweight, female (% of female adults)'
 'Prevalence of overweight, male (% of children under 5)'
 'Prevalence of overweight, male (% of male adults)']

In [26]:
(world.loc[world['Indicator Name'] == 'Prevalence of overweight (% of adults)',
           ['Country Name', 'Indicator Name', '2016']].sort_values('2016').head(3))

       Country Name                          Indicator Name  2016
115005      Vietnam  Prevalence of overweight (% of adults)  18.3
61203         India  Prevalence of overweight (% of adults)  19.7
28569    Bangladesh  Prevalence of overweight (% of adults)  20.0

<b>Answer: Vietnam</b>

### 9. How many Indonesian children (age <15) are living with HIV in 2020?

Meninjau `Indicator Name` sesuai keyword dari pertanyaan.

In [27]:
print(world[world['Indicator Name'].str.contains('hiv', case = False)]['Indicator Name'].unique())

['Adults (ages 15+) and children (0-14 years) living with HIV'
 'Adults (ages 15+) and children (ages 0-14) newly infected with HIV'
 'Adults (ages 15+) living with HIV'
 'Adults (ages 15-49) newly infected with HIV'
 'Antiretroviral therapy coverage (% of people living with HIV)'
 'Antiretroviral therapy coverage for PMTCT (% of pregnant women living with HIV)'
 'Children (0-14) living with HIV'
 'Children (ages 0-14) newly infected with HIV'
 'Children orphaned by HIV/AIDS'
 'Comprehensive correct knowledge of HIV/AIDS, ages 15-24, female (2 prevent ways and reject 3 misconceptions)'
 'Comprehensive correct knowledge of HIV/AIDS, ages 15-24, male (2 prevent ways and reject 3 misconceptions)'
 'Comprehensive correct knowledge of HIV/AIDS, ages 15-49, female (2 prevent ways and reject 3 misconceptions)'
 'Comprehensive correct knowledge of HIV/AIDS, ages 15-49, male (2 prevent ways and reject 3 misconceptions)'
 'Incidence of HIV, ages 15-24 (per 1,000 uninfected population ages 15-24)'
 'Incidence of HIV, ages 15-49 (per 1,000 uninfected population ages 15-49)'
 'Incidence of HIV, ages 50+ (per 1,000 uninfected population ages 50+)'
 'Incidence of HIV, all (per 1,000 uninfected population)'
 'Prevalence of HIV, female (% ages 15-24)'
 'Prevalence of HIV, male (% ages 15-24)'
 'Prevalence of HIV, total (% of population ages 15-49)'
 "Women's share of population ages 15+ living with HIV (%)"
 'Young people (ages 15-24) newly infected with HIV']

In [28]:
(world.loc[(world['Country Name'] == 'Indonesia') &
           (world['Indicator Name'] == 'Children (0-14) living with HIV'),
           ['Country Name', 'Indicator Name', '2020']])

      Country Name                   Indicator Name     2020
61371    Indonesia  Children (0-14) living with HIV  18000.0

<b>Answer: 18000</b>

### 10. Which country has the highest probability of dying per 1000 among children ages 5-9 years in 2020?

Meninjau `Indicator Name` sesuai keyword dari pertanyaan.

In [29]:
print(world[world['Indicator Name'].str.contains('dying', case = False)]['Indicator Name'].unique())

['Probability of dying among adolescents ages 10-14 years (per 1,000)'
 'Probability of dying among adolescents ages 10-19 years (per 1,000)'
 'Probability of dying among adolescents ages 15-19 years (per 1,000)'
 'Probability of dying among children ages 5-9 years (per 1,000)'
 'Probability of dying among youth ages 20-24 years (per 1,000)']

In [30]:
(world[world['Indicator Name'].str.contains('dying among children')]
 .loc[:, ['Country Name', 'Indicator Name', '2020']].sort_values('2020', ascending = False).head(3))

       Country Name                                     Indicator Name  2020
99598       Somalia  Probability of dying among children ages 5-9 y...  16.1
96952  Sierra Leone  Probability of dying among children ages 5-9 y...  15.9
85045         Niger  Probability of dying among children ages 5-9 y...  15.7

<b>Answer: Somalia</b>

### 11. Which country has the lowest total fertility rate in 2019?

Meninjau `Indicator Name` sesuai keyword dari pertanyaan.

In [31]:
print(world[world['Indicator Name'].str.contains('fertility', case = False)]['Indicator Name'].unique())

['Adolescent fertility rate (births per 1,000 women ages 15-19)'
 'Fertility rate, total (births per woman)'
 'Wanted fertility rate (births per woman)']

In [32]:
(world[world['Indicator Name'].str.contains('Fertility rate, total')]
 .loc[:, ['Country Name', 'Indicator Name', '2019']].sort_values('2019').head(3))

               Country Name                            Indicator Name   2019
67592           Korea, Rep.  Fertility rate, total (births per woman)  0.918
91406           Puerto Rico  Fertility rate, total (births per woman)  1.035
59654  Hong Kong SAR, China  Fertility rate, total (births per woman)  1.051

<b>Answer: Korea, Rep.</b>

### 12. Which country has 98% of their pregnant women receiving prenatal care in 2017?

Meninjau `Indicator Name` sesuai keyword dari pertanyaan.

In [33]:
print(world[world['Indicator Name'].str.contains('pregnant', case = False)]['Indicator Name'].unique())

['Antiretroviral therapy coverage for PMTCT (% of pregnant women living with HIV)'
 'Intermittent preventive treatment (IPT) of malaria in pregnancy (% of pregnant women)'
 'Pregnant women receiving prenatal care (%)'
 'Pregnant women receiving prenatal care of at least four visits (% of pregnant women)'
 'Prevalence of anemia among non-pregnant women (% of women ages 15-49)'
 'Prevalence of anemia among pregnant women (%)'
 'Teenage mothers (% of women ages 15-19 who have had children or are currently pregnant)']

In [34]:
(world.loc[(world['Indicator Name'] == 'Pregnant women receiving prenatal care (%)') & (world['2017'] == 98),
           ['Country Name', 'Indicator Name', '2017']])

       Country Name                              Indicator Name  2017
106170     Tanzania  Pregnant women receiving prenatal care (%)  98.0

<b>Answer: Tanzania</b>

### 13. Which country has the highest prevalence of overweight adults in 2016?

Meninjau `Indicator Name` sesuai keyword dari pertanyaan.

In [35]:
print(world[world['Indicator Name'].str.contains('overweight', case = False)]['Indicator Name'].unique())

['Prevalence of overweight (% of adults)'
 'Prevalence of overweight (% of children under 5)'
 'Prevalence of overweight (modeled estimate, % of children under 5)'
 'Prevalence of overweight, female (% of children under 5)'
 'Prevalence of overweight, female (% of female adults)'
 'Prevalence of overweight, male (% of children under 5)'
 'Prevalence of overweight, male (% of male adults)']

In [36]:
(world.loc[world['Indicator Name'] == 'Prevalence of overweight (% of adults)',
           ['Country Name', 'Indicator Name', '2016']].sort_values('2016', ascending = False).head(3))

           Country Name                          Indicator Name  2016
82371             Nauru  Prevalence of overweight (% of adults)  88.5
88104             Palau  Prevalence of overweight (% of adults)  85.1
76638  Marshall Islands  Prevalence of overweight (% of adults)  83.5

<b>Answer: Nauru</b>

### 14. Which country is more likely to have a measles outbreak due to the lowest rate of immunization in 2019?

Meninjau `Indicator Name` sesuai keyword dari pertanyaan.

In [37]:
print(world[world['Indicator Name'].str.contains('measles', case = False)]['Indicator Name'].unique())

['Immunization, measles (% of children ages 12-23 months)'
 'Immunization, measles second dose (% of children by the nationally recommended age)']

In [38]:
(world.loc[world['Indicator Name'] == 'Immunization, measles (% of children ages 12-23 months)',
           ['Country Name', 'Indicator Name', '2019']].sort_values('2019').head(3))

,Country Name,Indicator Name,2019
88776,Papua New Guinea,"Immunization, measles (% of children ages 12-2...",37.0
38502,Chad,"Immunization, measles (% of children ages 12-2...",41.0
79956,Montenegro,"Immunization, measles (% of children ages 12-2...",42.0

<b>Answer: Papua New Guinea</b>

### 15. How much female age at first marriage in Slovenia, in 2018?

Meninjau `Indicator Name` sesuai keyword dari pertanyaan.

In [39]:
print(world[world['Indicator Name'].str.contains('marriage', case = False)]['Indicator Name'].unique())

['Age at first marriage, female' 'Age at first marriage, male']

In [40]:
(world[world['Indicator Name'].str.contains('marriage, female')]
 .loc[world['Country Name'] == 'Slovenia', ['Country Name', 'Indicator Name', '2018']])

      Country Name                 Indicator Name  2018
98348     Slovenia  Age at first marriage, female  34.0

<b>Answer: 34</b>

### 16. Which country has the highest rate of mortality by road traffic injury in 2019?

Meninjau `Indicator Name` sesuai keyword dari pertanyaan.

In [41]:
print(world[world['Indicator Name'].str.contains('traffic', case = False)]['Indicator Name'].unique())

['Mortality caused by road traffic injury (per 100,000 people)'
 'Mortality caused by road traffic injury, female (per 100,000 female population)'
 'Mortality caused by road traffic injury, male (per 100,000 male population)']

In [42]:
(world.loc[world['Indicator Name'] == 'Mortality caused by road traffic injury (per 100,000 people)',
           ['Country Name', 'Indicator Name', '2019']].sort_values('2019', ascending = False).head(3))

,Country Name,Indicator Name,2019
46468,Dominican Republic,Mortality caused by road traffic injury (per 1...,64.6
117028,Zimbabwe,Mortality caused by road traffic injury (per 1...,41.2
114382,"Venezuela, RB",Mortality caused by road traffic injury (per 1...,39.0

<b>Answer: Dominican Republic</b>

### 17. Which country has 67% of their pregnant women receiving prenatal care in 2018?

Meninjau `Indicator Name` sesuai keyword dari pertanyaan.

In [43]:
print(world[world['Indicator Name'].str.contains('pregnant', case = False)]['Indicator Name'].unique())

['Antiretroviral therapy coverage for PMTCT (% of pregnant women living with HIV)'
 'Intermittent preventive treatment (IPT) of malaria in pregnancy (% of pregnant women)'
 'Pregnant women receiving prenatal care (%)'
 'Pregnant women receiving prenatal care of at least four visits (% of pregnant women)'
 'Prevalence of anemia among non-pregnant women (% of women ages 15-49)'
 'Prevalence of anemia among pregnant women (%)'
 'Teenage mothers (% of women ages 15-19 who have had children or are currently pregnant)']

In [44]:
(world.loc[(world['Indicator Name'] == 'Pregnant women receiving prenatal care (%)') &
           (world['2018'] == 67), ['Country Name', 'Indicator Name', '2018']])

      Country Name                              Indicator Name  2018
85443      Nigeria  Pregnant women receiving prenatal care (%)  67.0

<b>Answer: Nigeria</b>

### 18. How much is the prevalence of overweight adults in the United States, in 2016?

Meninjau `Indicator Name` sesuai keyword dari pertanyaan.

In [45]:
print(world[world['Indicator Name'].str.contains('overweight', case = False)]['Indicator Name'].unique())

['Prevalence of overweight (% of adults)'
 'Prevalence of overweight (% of children under 5)'
 'Prevalence of overweight (modeled estimate, % of children under 5)'
 'Prevalence of overweight, female (% of children under 5)'
 'Prevalence of overweight, female (% of female adults)'
 'Prevalence of overweight, male (% of children under 5)'
 'Prevalence of overweight, male (% of male adults)']

In [46]:
(world.loc[(world['Indicator Name'] == 'Prevalence of overweight (% of adults)') &
           (world['Country Name'] == 'United States'), ['Country Name', 'Indicator Name', '2016']])

         Country Name                          Indicator Name  2016
112800  United States  Prevalence of overweight (% of adults)  67.9

<b>Answer: 67.9%</b>

### 19. Which country is more likely to have TBC due to the lowest rate of immunization in 2019?

Meninjau `Indicator Name` sesuai keyword dari pertanyaan.

In [47]:
print(world[world['Indicator Name'].str.contains('immunization', case = False)]['Indicator Name'].unique())

['Immunization, BCG (% of one-year-old children)'
 'Immunization, DPT (% of children ages 12-23 months)'
 'Immunization, HepB3 (% of one-year-old children)'
 'Immunization, Hib3 (% of children ages 12-23 months)'
 'Immunization, measles (% of children ages 12-23 months)'
 'Immunization, measles second dose (% of children by the nationally recommended age)'
 'Immunization, Pol3 (% of one-year-old children)']

In [48]:
(world[world['Indicator Name'].str.contains('Immunization, BCG')]
 .loc[:, ['Country Name', 'Indicator Name', '2019']].sort_values('2019').head(3))

            Country Name                                  Indicator Name  2019
104207            Sweden  Immunization, BCG (% of one-year-old children)  25.0
99356            Somalia  Immunization, BCG (% of one-year-old children)  37.0
88772   Papua New Guinea  Immunization, BCG (% of one-year-old children)  52.0

<b>Answer: Sweden</b>

### 20. Which country has the average age of female at first marriage lower than 20 years old in 2016?

Meninjau `Indicator Name` sesuai keyword dari pertanyaan.

In [49]:
print(world[world['Indicator Name'].str.contains('marriage', case = False)]['Indicator Name'].unique())

['Age at first marriage, female' 'Age at first marriage, male']

In [50]:
(world[world['Indicator Name'].str.contains('marriage, female')]
 .loc[world['2016'] < 20, ['Country Name', 'Indicator Name', '2016']])

      Country Name                 Indicator Name  2016
74093       Malawi  Age at first marriage, female  19.9

<b>Answer: Malawi</b>

### 21. Which country has the highest lowest rate of mortality by road traffic injury in 2019?

Meninjau `Indicator Name` sesuai keyword dari pertanyaan.

In [51]:
print(world[world['Indicator Name'].str.contains('traffic', case = False)]['Indicator Name'].unique())

['Mortality caused by road traffic injury (per 100,000 people)'
 'Mortality caused by road traffic injury, female (per 100,000 female population)'
 'Mortality caused by road traffic injury, male (per 100,000 male population)']

In [52]:
(world.loc[world['Indicator Name'] == 'Mortality caused by road traffic injury (per 100,000 people)',
           ['Country Name', 'Indicator Name', '2019']].sort_values('2019').head(3))

,Country Name,Indicator Name,2019
24418,Antigua and Barbuda,Mortality caused by road traffic injury (per 1...,0.0
78220,"Micronesia, Fed. Sts.",Mortality caused by road traffic injury (per 1...,0.2
75133,Maldives,Mortality caused by road traffic injury (per 1...,1.6

<b>Answer: Antigua and Barbuda</b>

### 22. How much is the working age population of Qatar in 2020?

Meninjau `Indicator Name` sesuai keyword dari pertanyaan.

In [53]:
print(world[world['Indicator Name'].str.contains('working', case = False)]['Indicator Name'].unique())

['Age dependency ratio (% of working-age population)']

In [54]:
(world[world['Indicator Name'].str.contains('working')]
 .loc[world['Country Name'] == 'Qatar', ['Country Name', 'Indicator Name', '2020']])

,Country Name,Indicator Name,2020
91735,Qatar,Age dependency ratio (% of working-age populat...,18.103287

<b>Answer: 18.103287%</b>

### 23. How much is the prevalence of overweight adults in Indonesia, in 2016?

Meninjau `Indicator Name` sesuai keyword dari pertanyaan.

In [55]:
print(world[world['Indicator Name'].str.contains('overweight', case = False)]['Indicator Name'].unique())

['Prevalence of overweight (% of adults)'
 'Prevalence of overweight (% of children under 5)'
 'Prevalence of overweight (modeled estimate, % of children under 5)'
 'Prevalence of overweight, female (% of children under 5)'
 'Prevalence of overweight, female (% of female adults)'
 'Prevalence of overweight, male (% of children under 5)'
 'Prevalence of overweight, male (% of male adults)']

In [56]:
(world.loc[(world['Indicator Name'] == 'Prevalence of overweight (% of adults)') &
           (world['Country Name'] == 'Indonesia'), ['Country Name', 'Indicator Name', '2016']])

      Country Name                          Indicator Name  2016
61644    Indonesia  Prevalence of overweight (% of adults)  28.2

<b>Answer: 28.2%</b>

### 24. Which country has the highest rate of literacy in 2020?

Meninjau `Indicator Name` sesuai keyword dari pertanyaan.

In [57]:
print(world[world['Indicator Name'].str.contains('literacy', case = False)]['Indicator Name'].unique())

['Literacy rate, adult female (% of females ages 15 and above)'
 'Literacy rate, adult male (% of males ages 15 and above)'
 'Literacy rate, adult total (% of people ages 15 and above)'
 'Literacy rate, youth male (% of males ages 15-24)'
 'Literacy rate, youth total (% of people ages 15-24)']

In [58]:
(world[world['Indicator Name'].str.contains('Literacy rate, adult total')]
 .loc[:, ['Country Name', 'Indicator Name', '2020']].sort_values('2020', ascending = False).head(3))

,Country Name,Indicator Name,2020
25292,Armenia,"Literacy rate, adult total (% of people ages 1...",99.788612
79535,Mongolia,"Literacy rate, adult total (% of people ages 1...",99.183273
5006,Europe & Central Asia (excluding high income),"Literacy rate, adult total (% of people ages 1...",99.077469

<b>Answer: Armenia</b>

### 25. How much is the average female age at first marriage in Indonesia, in 2017?

Meninjau `Indicator Name` sesuai keyword dari pertanyaan.

In [59]:
print(world[world['Indicator Name'].str.contains('marriage', case = False)]['Indicator Name'].unique())

['Age at first marriage, female' 'Age at first marriage, male']

In [60]:
(world[world['Indicator Name'].str.contains('marriage, female')]
 .loc[world['Country Name'] == 'Indonesia', ['Country Name', 'Indicator Name', '2017']])

      Country Name                 Indicator Name  2017
61304    Indonesia  Age at first marriage, female  22.4

<b>Answer: 22.4</b>